#해당 폴더구조는 유지하되, 그안의 데이터는 넘기지않음(사진이굉장히많음)
MobileNet_V4/dataset/origin/*
!MobileNet_V4/dataset/origin/.gitkeep


MobileNet_V4/dataset/train/*
!MobileNet_V4/dataset/train/.gitkeep

MobileNet_V4/dataset/background/*
!MobileNet_V4/dataset/background/.gitkeep

MobileNet_V4/dataset/test/*
!MobileNet_V4/dataset/test/.gitkeep

PaddleOCR_pip/dataset/train/*
!PaddleOCR_pip/dataset/train/.gitkeep

PaddleOCR
!PaddleOCR/.gitkeep